.jumbotroon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #0033aa, #0099ff);
  padding: 30px;
}

.jumbotroon h1 {
  color: white;
}

.jumbotroon .form {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.jumbotroon .form input {
  border: none;
  padding: 5px;
  width: 350px;
}

.jumbotroon .form .btn-submit {
  border: none;
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 75px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.card .text {
  flex: 2.5;
}

.button-action {
  flex: 1;
}

.btn-edit {
  border: none;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  width: 75px;
}

.btn-delete {
  border: none;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
  width: 75px;
}